div.contentSections {
    padding: 40px;
    background-color: rgba(100, 100, 100, .9);
}

.searchLabel {
    color: #000000;
    font-size: x-large;
}

.newSearchBtn {
    margin-left: 10px;
}

.contentSearch {
    color: #ffffff;
    font-size: x-large;
    margin-left: 10px;
}

input#search {
    background-color: #ffffff;
}

.newContentBtn {
    margin: 5px;
    width: 100%;
}

.articles {
    background-color: #ffffff;
    margin: 10px;
}
/* Chad added to format the modal */
a.fixedButton {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
/* Chad added to format the modal */
main.container {
    margin-bottom: 50px;
}
/* Chad added to format the modal */
ul.preventList
li.preventList {
    list-style-type: circle;
}
/* Chad added to format the modal */
ul.innerList 
li.innerList {
    list-style-type: square;
    margin-left: 15px;
}
/* Chad added to format the modal */
img.cdcImage {
    width: 100%;
    height: auto;
}
/* Chad added to format the modal */
div.modal.bottom-sheet {
    max-height: 65%;
}