nav {
    background-color: rgba(100, 100, 100, .9)
}

body {
    background-image: url("./earth.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: auto;
}

div.contentSections {
    background-color: rgba(100, 100, 100, .9);
}

p.countryData {
    font-size: x-large;
}

span#confirmed {
    background-color: #000000;
    border-radius: 5px;
    padding: 2px;
}

span#deaths {
    background-color: red;
    border-radius: 5px;
    padding: 2px;
}

span#recovered {
    background-color: green;
    border-radius: 5px;
    padding: 2px;
}

span#active {
    background-color: yellow;
    border-radius: 5px;
    color: #000000;
    padding: 2px;
}

div.articleRow {
    margin-bottom: 0;
}

label.countryInput {
    color: #ffffff;
    font-size: x-large;
}

button#countryInputButton {
    width: 100%;

}

div.inputRow {
    margin: 0;
}

input.autocomplete {
    color: white;
}

main.container {
    margin-bottom: 50px;
}

a.fixedButton {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

ul.preventList
li.preventList {
    list-style-type: circle;
}

ul.innerList 
li.innerList {
    list-style-type: square;
    margin-left: 15px;
}

img.cdcImage {
    width: 100%;
    height: auto;
}

div.modal.bottom-sheet {
    max-height: 65%;
}

.searchLabel {
    color: #ffffff;
    font-size: x-large;
}

.newSearchBtn {
    margin-left: 10px;
}

.contentSearch {
    color: #ffffff;
    font-size: x-large;
    margin: 10px;
}

input#search {
    background-color: #ffffff;
}

.newContentBtn {
    margin: 5px;
}

.articles {
    background-color: rgba(100, 100, 100, .9);
    margin: 0px;
    border: 1px solid white;
    color: #ffffff;
    height: 250px;
    width: auto;
}

div.newSearch {
    background-color: transparent;
    margin: 0px;
    color: #ffffff;
}

div.populatedCountry {
    
    background-color: transparent;
    margin: 0px;
    color: #ffffff;
}
input#search {
    background-color: transparent;
    color: #ffffff;
}

h2.article-title,
h3.article-title {
    font-size: 15px;
}
