body.indexPage {
    background-image: url("./earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: auto;
}

body.personalPage {
    background-color: #37474f;
}

div.contentSections {
    background-color: rgba(100, 100, 100, .9);
}

div.articleBlock {
    background-color: #bbdefb;
}

div.articleRow {
    margin-bottom: 0;
}


button#countryInputButton {
    width: 100%;

}

div.inputRow {
    margin: 0;
}

input.autocomplete {
    color: white;
}

main.container {
    margin-bottom: 50px;
}

a.fixedButton {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

ul.preventList
li.preventList {
    list-style-type: circle;
}

ul.innerList 
li.innerList {
    list-style-type: square;
    margin-left: 15px;
}

img.cdcImage {
    width: 100%;
    height: auto;
}

div.modal.bottom-sheet {
    max-height: 65%;
}