body.indexPage {
    background-image: url("./earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.contentSections {
    background-color: rgba(100, 100, 100, .9);
}

div.articleRow {
    margin-bottom: 0;
}


button#countryInputButton {
    width: 100%;

}

div.inputRow {
    margin: 0;
}